
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;900&family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/*   font-family: "Poppins", sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;900&family=Montserrat:wght@200;300;400;500;600;700&display=swap");
/* font-family: 'Montserrat', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;900&family=Montserrat:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;700;900&display=swap");
/* font-family: 'Playfair Display', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;900&family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;700;900&display=swap");
/* font-family: 'Open Sans', sans-serif; */
@font-face {
  font-family: "JFFlat";
  src: url(../fonts/JF\ Flat\ Regular.otf);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
















::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }



  

.Initiative {
  min-height: 86.55vh;
  padding: 38px 0px 30px 0px;
}

.Opinion{
  min-height: 86.55vh;
  padding: 38px 0px 26px 0px;
}



/* Clothes Donation */
.HeroClothes {
  min-height: 60.3vh;
 
}
.description{
  font-size: 28px;
  text-align: justify;
}
.form{
  min-height: 75vh;
  background-color:  #25717ba2;;
  border-radius: 35px;
  padding: 35px 55px 35px 30px; 
}

.Formss .col-8{
  /* min-height: 70vh; */
  height: 100%;
  background-color: #fff;
  border-radius: 35px;
  z-index: 1;
  margin-top: 10px;
  padding:  40px 40px 30px 40px ;
  
}

.Formss .box{
  width: 580px;
  border-radius: 35px;
  z-index: 0;
  /* height: 600px; */
}
.Formss .box img{
  border-radius: 35px;

  /* height: 600px; */
}


input{
  width: 250px;
  border: solid #24717B;
  border-radius: 25px;
color: #24717B;
}

.Don{
 text-align: center;
 color: var(--mainColor);
}

textarea{

<<<<<<< HEAD


=======
  border-radius: 15px;
  border: solid 2px #24717B;
}

main.midecal {
  background-image: url(../images/medicalDonation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* opacity: 0.95; */
}
.pay{
  height: 40px;
  width: 40px;
  display: block;
  margin: 20px 0px 20px 100px;
}
.pay:hover{
 cursor: pointer;
}
.visa{
  height: 40px;
  width: 40px;
  display: block;
  margin: 20px 0px 20px 100px;
}
.visa:hover{
  cursor: pointer;

}

.formMonypic{
  height: 450px;
}

main.monyDonation {
  background-image: url(../images/mony\ donation\ main\ pic.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* opacity: 0.95; */
}


.Htitile {
  font-weight: 700 !important;
  color: #F1F1F1 !important;
  font-size: 50px !important;

}

.DesHero {
  color: #F1F1F1 !important;
  font-weight: 300 !important;
  font-size: 24px !important;
}
>>>>>>> 34bbe12c43a2e1c559d29b036095fc55597af8de
